.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid lightgray;
  padding: 0.1em;
}
th {
  font-size: 0.85em;
}
td.input {
  padding: 1px;
  margin: 0;
  height: 1em;
  width: 2ch;
  max-width: 2ch;
  overflow: hidden;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}
